html, body{
    height: 100%;
    background-color: brown;
    border: 10px rgb(43, 66, 100) ridge;
    overflow: hidden;
}

html{
    height: 95%;
}

body{
    position: relative;
    height: 100%;
    margin: 2em 2em;
    /* background-image: url("assets/images/Background.png"); */
    background-color: cornflowerblue;
}

#main-container{
    position: absolute;
    overflow: auto;
    width: auto;
    height: 100%;
    top: 0;
    bottom: 0;
}

.centered-div{
    /* margin: auto; */
    width: 50%;
    border: 3px solid green;
    /* padding: 10px; */
}

.instructions-text{
    padding: .25em;
    font-family: sans-serif;
}

p{
    margin: auto;
}

.row{
    padding: 1em;
    margin: 1.5em auto;
    background-color: gainsboro;
}

#game-title-div{
    height: auto;
    width: 30%;
}

#game-title-text{
    /* text-align: center; */
    margin: auto;
}

#game-instructions{
    height: auto;
    width: 50%;
}


#stats-row{
    position: relative;
    height: auto;
}

/* #goal-div{
    background-color: blueviolet;
} */

.larger-font{
    font-size: 20pt;
}

/* #score-column, #wins-losses-div{
    background-color: yellowgreen;
} */



#crystal-buttons{
    position: relative;

}

img{
    width: 100%;
}
