html, body{
    height: 100%;
    background-color: brown;
    border: 10px rgb(43, 66, 100) groove;
}

html{
    height: 93%;
}

body{
    position: relative;
    height: 100%;
    margin: 1em;
    background-color: cornflowerblue;
}

#main-container{
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.centered{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.row{
    padding: 1em;
    margin: 1em auto;
    background-color: gainsboro;
}

#game-title{
    height: 10%;
    width: 30%;
    text-align: center;
}

#game-instructions{
    height: 30%;
    width: 50%;
}

#goal-wins-losses{
    width: 50%;
}

#goal{
    width: 45%;
    height: 45%;
    display: inline-block;
    background-color: blueviolet;
}

#wins-losses{
    width: 45%;
    float: right;
    background-color: yellowgreen;
}

#crystal-buttons{

}

#total-score{

}

#current-total{
    
}