html, body{
    height: 100%;
    border: 10px rgb(49, 42, 29) ridge;
    overflow: hidden;
}

html{
    height: 95%;
    background-color: rgb(189, 160, 98);
}

body{
    position: relative;
    height: 100%;
    margin: 2em 2em;
    background-color: rgb(65, 56, 39);
}

#main-container{
    position: absolute;
    overflow: auto;
    width: auto;
    height: 100%;
    top: 0;
    bottom: 0;
}

.centered-div{
    width: 50%;
    border: 3px solid rgb(49, 42, 29);
}

.instructions-text{
    padding: .25em;
    font-family: sans-serif;
}

p{
    margin: auto;
}

.row{
    padding: 1em;
    margin: 1.5em auto;
    background-color: rgb(189, 160, 98);
}

#game-title-div{
    height: auto;
    width: 30%;
}

#game-title-text{
    margin: auto;
}

#game-instructions{
    height: auto;
    width: 50%;
    text-align: center;
}

#stats-row{
    position: relative;
    height: auto;
}

.larger-font{
    font-size: 20pt;
}

#crystal-buttons{
    position: relative;

}

img{
    width: 100%;
}
